# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/

# Django static/media
backend/staticfiles/*
!backend/staticfiles/.gitkeep

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
